.card-list {
  margin-top: 2rem;
}

.card {
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  max-width: 500px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card--block {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card--title {
  margin-bottom: 0.5rem;
  margin-top: 0;
  font-size: 3.2rem;
}

.card--image {
  border-radius: 10px;
}

.card-text {
  font-size: 1.5rem;
  margin-top: 0;
}

.card-text span {
  font-weight: 600;
  display: block;
}

@media (max-width: 786px) {
  .card--title {
    font-size: 3rem;
  }
  .card {
    padding: 2rem 2rem;
  }

}